/* Table of Contents:
    1. General Styles
    2. Typography
    3. Main Heading
    4. Bio
    5. Menu
    6. Gallery
    7. Chefs
    8. Reservations
    9. Contact
    10. Main Footer
    11. Colors & Borders
    12. Media Queries
*/

/***********************************
1. GENERAL
***********************************/

html {
  box-sizing: border-box;
}

:root {
  font-size: 1em;
}

body {
  line-height: 1.5;
}

.container {
  margin: 0 4%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}


/***********************************
2. TYPOGRAPHY
***********************************/

body,
.contact-section input,
.contact-section textarea,
button {
  font-family: 'Raleway', sans-serif;
}

body,
.contact-section input,
.contact-section textarea {
  font-weight: 300;
}

.main-nav li a,
.bio-section h2,
.bio-blurb h3,
.menu-section h2,
.gallery-header h2,
.gallery-buttons button,
.chef-section h2,
.contact-section h2,
button {
  font-weight: 500;
}

.menu-section li{
  font-weight: 600;
}

.chef-container h3,
.reservations p,
.contact-info h3 {
  font-weight: normal;
}

.menu-item p {
  font-style: italic;
}

.main-nav li a,
button,
h2,
.reservations p,
.contact-info h3 {
  text-transform: uppercase;
}

/* Main Heading */
.logo,
.main-header h1 {
  font-family: 'Dancing Script', cursive;
}

.main-header {
  font-size: 1.3rem;
}

.logo {
  font-size: 1.75em;
  font-weight: 700;
}

.main-nav li a {
  font-size: 0.8em;
}

h1 {
  font-size: 6em;
}

.title {
  font-size: 1.55em;
}

.main-header button {
  font-size: 0.75em;
}

/* Bio */
bio-section {
  font-size: 1.1rem;
}

.bio-section h2 {
  font-size: 2em;
}

.bio-blurb p {
  font-size: 1em;
}

.bio-blurb h3 {
  font-size: 1.4em;
}

/* Menu Heading */
.menu-header {
  font-size: 1.2rem;
}

.menu-header h2 {
  font-size: 1.75em;
}

.menu-header p {
  font-size: 1.15em;
}

/* Menu Section */
.menu-section {
  font-size: 1.1rem;
}

.menu-item li {
  font-size: 0.95em;
}

.menu-item p {
  font-size: 0.875em;
}

/* Gallery Heading*/
.gallery-header {
  font-size: 1.2rem;
}

.gallery-header h2 {
  font-size: 1.75em;
}

.gallery-header p {
  font-size: 1.15em;
}

/* Gallery */
.gallery-buttons button {
  font-size: 0.9em;
}

/* Chef Section */
.chef-section {
  font-size: 1.2rem;
}

.chef-section h2 {
  font-size: 1.75em;
}

.chef-section > p {
  font-size: 1.15em;
}

.chef-container h3 {
  font-size: 1.05em;
}

.chef-container p {
  font-size: 0.8em;
}

/* Reservations */
.reservations {
  font-size: 1.2rem;
}

.reservations p {
  font-family: 'Open Sans';
  font-size: 1.75em;
}

/* Contact Form*/
.contact-section {
  font-size: 1.2rem;
}

.contact-section h2 {
  font-size: 1.75em;
}

form p {
  font-size: 1.15em;
}

.contact-section input,
.contact-section textarea {
  font-size: 0.85em;
}

.contact-section button {
  font-size: 0.85em;
}

/* Contact Info */
.contact-info {
  font-size: 1.1rem;
}

.contact-info h3 {
  font-size: 1em;
}

.contact-info p {
  font-size: 0.85em;
}

/* Main Footing */
.main-footer {
  font-size: 0.9rem;
}

.main-footer p, {
  font-size: 1.05em;
}

.main-footer a[href*="terrance"] {
  font-size: 1.05em;
}



/***********************************
3. MAIN HEADING
***********************************/

.main-header {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
              url('../img/intro-bg.jpg') no-repeat center;
  background-size: cover;
  padding: 1em 0 6.75em;
}

.logo {
  display: block;
  padding-left: 0.4em;
  line-height: 1.375;
}

.main-nav ul {
  padding: 0;
  text-align: right;
}

.main-nav li {
  margin: 0.6em 0;
}

.main-nav li:last-child {
  margin-bottom: 0;
}

.main-nav li a {
  display: inline-block;
  padding: 0.5em 0.6em;
}

.main-header h1 {
  margin: -0.05em 0 0;
}

.main-header h1,
.title {
  text-align: center;
}

.title {
  margin: -0.6em 0 0;
}

.main-header button {
  display: block;
  margin: 2em auto;
  padding: 1.1em 1.2em;
}



/***********************************
4. BIO
***********************************/



/***********************************
5. MENU
***********************************/

.menu-header {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
              url('../img/menu-bg.jpg') no-repeat center;
  background-size: cover;
}



/***********************************
6. GALLERY
***********************************/

.gallery-header {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
              url('../img/gallery-bg.jpg') no-repeat center;
  background-size: cover;
}



/***********************************
7. CHEFS
***********************************/

.chef-section {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
              url('../img/chefs-bg.jpg') no-repeat center top;
  background-size: cover;
}


/***********************************
8. RESERVATIONS
***********************************/



/***********************************
9. CONTACT
***********************************/




/***********************************
10. MAIN FOOTER
***********************************/


/***********************************
11. COLORS & BORDERS
***********************************/

body,
a {
  color: #999;
}

button {
  border: none;
}

.logo {
  border-bottom: 1px solid #fff;
}

.main-nav li a {
  color: #ddd;
}

.main-nav .logo,
.main-nav a:hover,
.contact-info h3 {
  color: #8eb640;
}

.main-header h1,
.main-header p,
.main-header button,
.menu-header h2,
.gallery-header h2,
.gallery-buttons .selected-btn,
.gallery-buttons button:hover,
.chef-section h2,
.chef-section > p,
.chef-container h3,
.reservations,
.contact-section button {
  color: #fff;
}

.main-header button,
.gallery-buttons .selected-btn,
.gallery-buttons button:hover,
.reservations,
.contact-section button,
.main-footer {
  background-color: #8eb640;
}

.main-header button:hover,
.contact-section button:hover {
  background-color: #72a411;
}

.bio-blurb h2,
.bio-blurb h3,
.contact-section h2 {
  color: #333;
}

.bio-blurb h2,
.menu-header h2,
.menu-section h2,
.gallery-header h2,
.contact-section h2 {
  border-bottom: 2px solid #8eb640;
}

.bio-blurb p,
.menu-item p,
.contact-section p {
  color: #777;
}

.menu-section h2,
.contact-section input,
.contact-section textarea {
  color: #444;
}

.menu-item li {
  color: #555;
}

.menu-item li:first-child {
  border-bottom: 2px #d5d5d5 dotted;
}

.gallery-buttons button {
  color: #999;
  background-color: #eee;
}

.chef-section h2 {
  border-bottom: 2px solid #fff;
}

.chef-container p {
  color: rgba(255, 255, 255, 0.7);
}

.contact-section {
  background-color: #f6f6f6;
}

.contact-section input,
.contact-section textarea {
  border: 1px solid #ddd;
}

.contact-info {
  background-color: #262626;
}

.contact-info a,
.contact-info p,
.main-footer p,
.main-footer a {
  color: rgba(255, 255, 255, 0.8);
}

.main-footer a[href*="terrance"]:hover {
  color: #333;
}
