/* Table of Contents:
    1. General Styles
    2. Typography
    3. Colors & Borders
*/

/***********************************
1. GENERAL
***********************************/

html {
  box-sizing: border-box;
}

:root {
  font-size: 1em;
}

body {
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


/***********************************
2. TYPOGRAPHY
***********************************/

body {
  font-weight: 300;
}

.main-nav li a,
.bio-section h2,
.bio-blurb h3,
.menu-section h2 {
  font-weight: 500;
}

.menu-section li{
  font-weight: 600;
}

.main-nav li a,
button,
h2,
.reservations p,
.contact-info h3 {
  text-transform: uppercase;
}

/* Main Heading */
.logo,
.main-header h1 {
  font-family: 'Dancing Script', cursive;
}

.main-header {
  font-size: 1.3rem;
}

.logo {
  font-size: 1.75em;
  font-weight: bold;
}

.main-nav li a {
  font-size: 0.8em;
}

h1 {
  font-size: 6.75em;
}

.main-header p {
  font-size: 1.4em;
}

.main-header button {
  font-size: 0.75em;
}

/* Bio */
bio-section {
  font-size: 1.1rem;
}

.bio-section h2 {
  font-size: 2em;
}

.bio-blurb p {
  font-size: 1em;
}

.bio-blurb h3 {
  font-size: 1.4em;
}

/* Menu Header */
.menu-header {
  font-size: 1.2rem;
}

.menu-header h2 {
  font-size: 1.75em;
}

.menu-header p {
  font-size: 1.15em;
}

/* Menu Section */
.menu-section {
  font-size: 1.1rem;
}




/***********************************
3. COLORS & BORDERS
***********************************/

* {
  background-color: pink; //delete me
}

body,
a {
  color: #999;
}

button {
  border: none;
}

.logo {
  border-bottom: 1px solid #fff;
}

.main-nav li a {
  color: #ddd;
}

.main-nav .logo,
.main-nav a:hover,
.contact-info h3 {
  color: #8eb640;
}

.main-header h1,
.main-header p,
.main-header button,
.menu-header h2,
.gallery-header h2,
.gallery-buttons .selected-btn,
.gallery-buttons button:hover,
.chef-section h2,
.chef-section > p,
.chef-container h3,
.reservations,
.contact-section button {
  color: #fff;
}

.main-header button,
.gallery-buttons .selected-btn,
.gallery-buttons button:hover,
.reservations,
.contact-section button,
.main-footer {
  background-color: #8eb640;
}

.main-header button:hover,
.contact-section button:hover {
  background-color: #72a411;
}

.bio-blurb h2,
.bio-blurb h3,
.contact-section h2 {
  color: #333;
}

.bio-blurb h2,
.menu-header h2,
.menu-section h2,
.gallery-header h2,
.contact-section h2 {
  border-bottom: 2px solid #8eb640;
}

.menu-section h2 {
  color: #444;
}

.menu-item li {
  color: #555;
}

.menu-item li:first-child {
  border-bottom: 2px #d5d5d5 dotted;
}

.gallery-buttons button {
  color: #999;
  background-color: #eee;
}

.chef-section h2 {
  border-bottom: 2px solid #fff;
}

.chef-container p {
  color: rgba(255, 255, 255, 0.7);
}

.contact-section {
  background-color: #f6f6f6;
}

.contact-section input,
.contact-section textarea {
  border: 1px solid #ddd;
}

.contact-info {
  background-color: #262626;
}

.contact-info a,
.contact-info p,
.main-footer p,
.main-footer a {
  color: rgba(255, 255, 255, 0.8);
}

.main-footer a[href*="terrance"]:hover {
  color: #333;
}
